body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f4f6f9;
    font-family:sans-serif;
}

.box{
    background:white;
    padding:40px;
    border-radius:10px;
    width:350px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
}

button{
    width:100%;
    padding:12px;
    background:#16a34a;
    color:white;
    border:none;
    cursor:pointer;
}

.msg{margin-top:10px;font-weight:bold;text-align:center;}